<list-navbar></list-navbar>

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 mx-auto">
                <ul class="list-group">
                    <li class="list-group-item" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-repeat="selectedProduct in selectedProducts">{{selectedProduct.productName}}
                        <span ng-if="hoverEdit" class="float-right">
                            <i class="fas fa-trash" ng-click="deleteTask($index)"></i>
                        </span>
                    </li>

                </ul>
                <div class="row mb-5 mt-5">
                    <div class="col-sm-12">
                        <div class="text-center font-weight-bold">
                            <h5 class="text-worning">Approve your list by the CONFIRM button, and get your code.</h5>
                            <a href="#!/mylink">
                                <button style="font-size: 1.8rem" class="btn btn-info mx-auto mb-5">CONFIRM</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>