<list-navbar></list-navbar>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search your product..">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="accordion" id="accordionExample">

                    <div class="card" ng-repeat="product in products | filter : {productName : search}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="checkbox" ng-model="product.isAddToCart">
                                    <button class="btn btn-link" type="button" id="headingOne" data-toggle="collapse" data-target="#{{product.productName}}"
                                        aria-expanded="false" aria-controls="{{product.productName}}">
                                        {{product.productName}}
                                    </button>
                                </div>
                                <div class="col-sm-2 ml-auto">
                                    <img id="produntImg" ng-src="{{product.image}}" data-toggle="modal" data-target=".{{product.productName}}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="modal fade {{product.productName}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <div class="card-body">
                                        <dl class="row">
                                            <div class="col-sm-10">
                                                <dt class="col-sm-3">Name:</dt>
                                                <dd class="col-sm-9"> {{product.productName}}</dd>


                                                <dt class="col-sm-3">Description</dt>
                                                <dd class="col-sm-9">
                                                    <p>{{product.description}}</p>
                                                </dd>

                                                <dt class="col-sm-3">Zone:</dt>
                                                <dd class="col-sm-9">{{product.zone}}</dd>

                                                <dt class="col-sm-3 text-truncate">Brand</dt>
                                                <dd class="col-sm-9">{{product.brand}}</dd>

                                                <dt class="col-sm-3">Price</dt>
                                                <dd class="col-sm-9">{{product.price}}</dd>
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <div class="row"></div>
                                                <a href="{{product.image}}">
                                                    <img ng-src="{{product.image}}" alt="">
                                                </a>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="{{product.productName}}" class="collapse" aria-labelledby="headingOne">
                            <div class="card-body">
                                <dl class="row">
                                    <div class="col-sm-10">
                                        <dt class="col-sm-3">Name:</dt>
                                        <dd class="col-sm-9">{{product.productName}}</dd>


                                        <dt class="col-sm-3">Description</dt>
                                        <dd class="col-sm-9">
                                            <p>{{product.description}}</p>
                                        </dd>

                                        <dt class="col-sm-3">Zone:</dt>
                                        <dd class="col-sm-9">{{product.zone}}</dd>

                                        <dt class="col-sm-3 text-truncate">Brand</dt>
                                        <dd class="col-sm-9">{{product.brand}}</dd>

                                        <dt class="col-sm-3">Price</dt>
                                        <dd class="col-sm-9">{{product.price}}</dd>
                                    </div>
                                    <div class="col-sm-2 my-auto">
                                        <div class="row"></div>
                                        <a href="{{product.image}}">
                                            <img ng-src="{{product.image}}" alt="">
                                        </a>
                                    </div>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="text-center font-weight-bold">
                    <h5 class="text-worning">Mark your gift, and click on the finish button to move into your cart.</h5>
                    <a ng-href="#!/list">
                        <input type="button" style="font-size: 1.8rem" ng-click="addChecked()" class="btn btn-success mb-5" value="FINISH">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>